.buttonImg {
    padding-top: 5%;
    position: relative;
    width:100%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    color: inherit;
    overflow: hidden; /* Add this if your images are overflowing when hovered */
}

.buttonImg:hover {
    transform: scale(1.05);
}

.imgButton {
    width: 100%; 
    object-fit: contain;
    transition: all 0.5s ease-in-out; /* Add this for a smooth hover effect */
}  

.custom-button {
    width: 100%; /* Span across the column */
    font-size:1.5em!important;
    text-align: center!important; /* Center the text */
    transition: all 0.5s ease-in-out; /* Add this for a smooth hover effect */
    padding-bottom: 1%!important;
  }

.centerIcon{
    padding-top: 10px;
}